<a href="https://colab.research.google.com/github/LonelyTopher/Learning-Python-for-dummies/blob/main/Chapter_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with Loops

###Simple for loops

In [ ]:
LetterNum = 1
for Letter in "Howdy!":
  print("Letter ", LetterNum, " is ", Letter)
  LetterNum += 1

Letter  1  is  H
Letter  2  is  o
Letter  3  is  w
Letter  4  is  d
Letter  5  is  y
Letter  6  is  !

In [ ]:
Value = input("Type less than 6 characters: ")
LetterNum = 1
for Letter in Value:
  print("Letter", LetterNum, " is ", Letter)
  LetterNum += 1
  if LetterNum > 6:
    print("The string is too long!")
    break

Type less than 6 characters: Christopher
Letter 1  is  C
Letter 2  is  h
Letter 3  is  r
Letter 4  is  i
Letter 5  is  s
Letter 6  is  t
The string is too long!

In [ ]:
LettNum = 1
for Letter in "Howdy!":
  if Letter == "w":
    continue
    print("Encountered W, letter not processed")
  print("Letter ", LettNum, " is ", Letter)
  LettNum += 1

Letter  1  is  H
Letter  2  is  o
Letter  3  is  d
Letter  4  is  y
Letter  5  is  !

In [ ]:
LetterNum = 1
for Letter in "Howdy!":
  if Letter == "w":
    pass # add some code here later to process w #
  print("Letter ", LetterNum, " is ", Letter)
  LetterNum += 1

Letter  1  is  H
Letter  2  is  o
Letter  3  is  w
Letter  4  is  d
Letter  5  is  y
Letter  6  is  !

In [ ]:
Value = input("Type less than 6 characters: ")
LetterNum = 1
for Letter in Value:
  print("Letter", LetterNum, " is ", LetterNum)
  LetterNum += 1
  if (Letter == "" or Letter == Value[-1]):
    break
else:
  print("The string is blank.")

Type less than 6 characters:
The string is blank.

###While Loops

In [ ]:
Sum = 0
while Sum < 5:
  print(Sum)
  Sum += 1

0
1
2
3
4

### Nesting Loop Statements

In [ ]:
x = 1
y = 1
print('{:>4}'.format(' '), end= ' ')
for x in range(1, 11):
  print('{:>4}'.format(x), end= ' ')
print()
for x in range(1, 11):
  print('{:>4}'.format(x), end= ' ')
  while y <= 10:
    print('{:>4}'.format(x * y), end= ' ')
    y += 1
  print()
  y = 1

        1    2    3    4    5    6    7    8    9   10
   1    1    2    3    4    5    6    7    8    9   10
   2    2    4    6    8   10   12   14   16   18   20
   3    3    6    9   12   15   18   21   24   27   30
   4    4    8   12   16   20   24   28   32   36   40
   5    5   10   15   20   25   30   35   40   45   50
   6    6   12   18   24   30   36   42   48   54   60
   7    7   14   21   28   35   42   49   56   63   70
   8    8   16   24   32   40   48   56   64   72   80
   9    9   18   27   36   45   54   63   72   81   90
  10   10   20   30   40   50   60   70   80   90  100